/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#fcf5c5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #face43;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d6b754;
}
body
{
width:50px;
background: none;
}
#img
{
top:10px;
	width: 160px ;
	height: 160px;
	border-radius: 100px;
position:fixed;
    top:10px;
    left:10px;}
#imgin
{
    width:160px;
    height:160px;
    background-color:none;
    border-radius:100px;
    position:fixed;
    top:10px;
    left:10px;
	box-shadow:inset 5px 5px 5px 2px rgba(255,255,255, 0.3),inset -5px -5px 5px 2px rgba(255,255,255, 0.3),inset 1px 1px 1px rgba(255,255,255,0.8),inset -1px -1px 1px rgba(255,255,255,0.8),inset -5px 5px 5px 2px rgba(255,255,255, 0.3),inset 5px -5px 5px 2px rgba(255,255,255, 0.3),inset -1px 1px 1px rgba(255,255,255,0.8),inset 1px -1px 1px rgba(255,255,255,0.8);

}
#header
{
	position: fixed;/*to make left:200px work*/
	left: 200px;
	top:10px;
	height: 100px;
	border-radius: 20px;
	border: 5px solid #0553fc;
	color: #f53652;
	background: #edd7bb;
	text-shadow: 2px 3px 3px #7a0db5;
    width: 1140px;
    font-size: 60px;
    font-family:"Arial Black", Gadget, sans-serif,"Comic Sans MS",Broadway ,Florence,cursive,"Courier New",Courier,monospace;
	font-weight: bolder;
	box-shadow: inset 8px 5px 30px rgba(0,0,0,0.3),inset -8px -5px 30px rgba(0,0,0,0.3),inset -3px 0px 5px rgba(0,0,0,0.9),inset 3px 0px 5px rgba(0,0,0,0.9);
	text-align: center;
}
#verse
{
position:fixed;
left:5px;
top:180px;
font-size:20px;
width: 175px;
text-align:center;
color:black;
background: linear-gradient(#ebb734,white);
border: 2px solid yellow;
}
.verse
{
    overflow-x:hidden;
    overflow-x:auto;
    font-size:15px;
    word-wrap:break-word;
	color: gray;
	border: 5px solid green;
	width: 160px;
	height: 150px;
	text-align: justify;
	background-image: url('back.jpg');
	background-repeat:fill;
	box-shadow:4px -6px 1px 3px rgba(0,0,0,0.3)
}
#tamv
{
text-align:center;
position: fixed;
left:10px;
top:440px;}
#engv
{
text-align:center;
position: fixed;
left:10px;
top:260px;
}
.verse:hover
{
box-shadow:7px 3px 10px 2px rgb(255,45,45),-7px -3px 10px 2px rgb(255,45,45);
font-size:18px;
width: 300px;
}
#menu
{
}
th
{
font-family:"Comic Sans MS";
    width:180px;
    height:35px;
    background-color: #d62060;
	color: white;
	border-radius:17px;
	box-shadow:inset 0px -7px 2px #94132d;
}
th{
font-family:"Comic Sans MS";
    width:190px;
    height:45px;
    background-color: rgb(255,0,128);
	color: white;
	border-radius:22px;
	box-shadow:inset 0px -7px 2px #94152f;}
a
{
color:white;
text-decoration:none;
}
th:hover
{
position:relative;
	top:1px;
	box-shadow:inset 0px -4px 2px #94132d;
}
th:active
{
position:relative;
	top:3px;
	box-shadow:inset 0px -0px #94132d;
}
#box
{
overflow-x:hidden;
overflow-x:auto;
overflow-y:hidden;
overflow-y:auto;
position:absolute;
top: 156px;
left: 210px;

}
#content
{

font-family:"Comic Sans MS", cursive, sans-serif ,"Nirmala UI", Latha, Bamini , "Noto Sans Tamil";
text-align:justify;
width:1100px;
}
#tran
{
font-family:"Comic Sans MS";
    width:180px;
    height:35px;
    background-color: #e687a9;
	color: white;
	border-radius:17px;
	box-shadow:inset 0px -7px 2px #8f515e;
}
#tran:hover
{
	box-shadow:inset 0px -4px 2px #8f515e;
}
#tran:active
{
    height:32px;
	box-shadow:inset 0px -0px #8f515e;
}
#father,#pic1
{
box-shadow:2px 2px 2px 3px rgba(255,255,0,0.6),-2px -2px 2px 3px rgba(255,255,0,0.6);
margin:0px 20px 0px 0px;
}
.heading{
position:relative;
top:-25px;
font-family:'Arial Black';
font-size:35px;
width:100%;
height:50px;
background:linear-gradient(to right,#0004ff,#23d3d9,#b1bafa);
color:black;
text-shadow:5px 2px 3px white;
box-shadow:15px 15px 3px rgba(0,0,0,0.3);
letter-spacing:1px;
border-radius:25px;

}
.heading:first-letter
{
color:transparent;
text-shadow:0px 0px 3px rgba(0,0,0,0);
font-size:35px;
}
